.list {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

.title {
  text-align: center;
  background-color: #d2e4ee;
  font-size: 1.8em;
  margin: 0;
  line-height: 2em;
  border-bottom: 1px solid #f9f9f9;
}
