.task {
  padding: 12px 24px 12px 24px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #e3e3e3;
  align-items: center;
  background-color: white;
}

.task:last-child {
  border-bottom: none;
}

.task:hover {
  background-color: #f9f9f9;
}

.task__icons {
  display: flex;
  gap: 16px;
}

.task__icons svg {
  cursor: pointer;
}

.done,
.done:hover {
  text-decoration: line-through;
  background-color: #e9edef;
}
