#root {
  height: fit-content;
  width: 90%;
  max-width: 768px;
  display: flex;
  justify-content: center;
}

main {
  box-sizing: border-box;
  width: 90%;
  max-width: 768px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

form {
  box-sizing: border-box;
  display: flex;
  margin-top: 2em;
  margin-bottom: 2em;
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  border: 2px solid #d2e4ee;
  height: 50px;
}

form input {
  border: none;
  width: 100%;
  padding: 16px;
  outline: none;
  font-size: 18px;
}

form button {
  border: none;
  padding: 12px;
  background-color: #d2e4ee;
  font-weight: 500;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  cursor: pointer;
}

.list {
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
}

h1 {
  text-align: center;
  background-color: #d2e4ee;
  font-size: 1.8em;
  margin: 0;
  line-height: 2em;
  border-bottom: 1px solid #f9f9f9;
}
