#root {
  height: fit-content;
  width: 90%;
  max-width: 768px;
  display: flex;
  justify-content: center;
}

main {
  box-sizing: border-box;
  width: 90%;
  max-width: 768px;
  background-color: white;
  border-radius: 10px;
  margin-top: 2em;
  margin-bottom: 2em;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

h1 {
  text-align: center;
  background-color: #d2e4ee;
  font-size: 1.8em;
  margin: 0;
  line-height: 2em;
  border-bottom: 1px solid #f9f9f9;
}
